section#customers.customers
    .row.column.customers_content
        img(src="./img/customers/abyss.png", alt="Abyss")
        img(src="./img/customers/auto.png", alt="Auto.io")
    .customers_overlay
        button.button See Our Customers