footer.footer
    .row.footer_inner
        .column.large-4.medium-6.small-12.small-order-1.footer_contacts
            h4.footer_header
                | AirDrop
            a(href="mailto:hello@dropdrop.com" target="_blank")
                | hello@dropdrop.com
            p
                | If you would like us to help to with
                br
                | Airdrop launch for your ICO, drop us a line
        .column.large-4.medium-6.small-12.small-order-2.footer_social
            h4.footer_header
                | Our Community
            ul.menu.social
                li.social_item
                    a(href="#")
                        img(src="./img/social/fb.png", alt="Facebook")
                li.social_item
                    a(href="#")
                        img(src="./img/social/in.png", alt="LinkedIn")
                li.social_item
                    a(href="#")
                        img(src="./img/social/md.png", alt="Medium")
                li.social_item
                    a(href="#")
                        img(src="./img/social/tw.png", alt="Twitter")
        .column.large-4.medium-6.small-12.small-order-3.medium-order-4.large-order-3.footer_subs
            h4.footer_header
                | Get Exclusive Airdrops from Top ICO projects
            +form
        .column.large-12.medium-6.small-12.small-order-4.medium-order-3.large-order-4.footer_copyright
            | © 2018 Airdrop
