header.row.align-middle.head
    .column.shrink.logo
        img(src="./img/logo.svg", alt="Airdrop")
    nav.column.shrink.head_nav
        ul.menu.simple(data-smooth-scroll)
            li
                a(href="#promo") Start
            li
                a(href="#how") How It Works
            li
                a(href="#customers") Partner
            li
                a(href="#media") News
    .column.shrink
        button.button(data-open="join")
            | Join