head
    meta(charset="UTF-8")
    title Tokenboom
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#6915c2")
    meta(name="msapplication-TileColor", content="#6915c2")
    meta(name="theme-color", content="#6915c2")
    meta(name="theme-color", content="#03104f")
    //- link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic", rel="stylesheet")
    link(rel="stylesheet", href="./css/app.css")
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/brands.js', integrity='sha384-6jhVhr5a+Z1nLr9h+fd7ocMEo847wnGFelCHddaOOACUeZNoQwFXTxh4ysXVam8u', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js', integrity='sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG', crossorigin='anonymous')