header.head
    .row.align-middle.align-justify
        .column.shrink.logo
            img(src="./img/logo.svg", alt="Airdrop")
        nav.column.shrink.head_nav.show-for-medium
            +menu('simple')
        .column.shrink
            a.show-for-medium(data-open="step1")
                | Join
            button.button.head_hamb.hide-for-medium(data-open="menu")
                .head_hamb_bars