head
    meta(charset="UTF-8")
    title Airdrop
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
    //- realfavicongenerator.net
    meta(name="theme-color", content="#03104f")
    //- link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic", rel="stylesheet")
    link(rel="stylesheet", href="./css/app.css")
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/brands.js', integrity='sha384-6jhVhr5a+Z1nLr9h+fd7ocMEo847wnGFelCHddaOOACUeZNoQwFXTxh4ysXVam8u', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js', integrity='sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG', crossorigin='anonymous')