section#how.how
    .row.column
        .how_inner
            h2 How it Works
            p.how_descr
                | Stripe is the best software platform for running an internet business.
                br
                | We handle billions of dollars every year for forward-thinking
                br
                | businesses around the world.
            .row.how_steps
                .column.medium-4.small-12.how_step
                    .how_step_img
                        img(src="./img/how/1.jpg", alt="01")
                    p.how_step_descr 
                        | Sign up on the website and insert your ERC-20 compatible ETH wallet address. %link Check compatible wallets 
                .column.medium-4.small-12.how_step
                    .how_step_img
                        img(src="./img/how/2.jpg", alt="02")
                    p.how_step_descr
                        | We negotiate with TOP ICO projects and ask them to send portion of their tokens to our community for FREE
                .column.medium-4.small-12.how_step
                    .how_step_img
                        img(src="./img/how/3.jpg", alt="03")
                    p.how_step_descr
                        | Keep more then 1 ETH on your ETH wallet and get
                        | 
                        b FREE
                        | 
                        | tokens during super exclusive airdrops from TOP ICO projects.