section#how.how
    .row.column
        .how_inner
            h2 How it Works
            p.how_descr
                | We give you tokens of young promising ICO’s just for free. 
                br
                | Just leave us your email and ERC-20 compatible wallet with more then 1ETH on the balance.
            .row.how_steps
                .column.medium-4.small-12.how_step
                    .how_step_img
                        img(src="./img/how/1.svg", alt="01")
                    p.how_step_descr 
                        | Give us your email and ERC-20 compatible wallet.
                        | 
                        a(href="#") Here is the list
                .column.medium-4.small-12.how_step
                    .how_step_img
                        img(src="./img/how/2.svg", alt="02")
                    p.how_step_descr
                        | No need to complete any silly tasks (follow Telegram groups, Facebook likes, twitter reposts).
                .column.medium-4.small-12.how_step
                    .how_step_img
                        img(src="./img/how/3.svg", alt="03")
                    p.how_step_descr
                        | We choose best ICO using ICO Rating,we will notify you via Email. Just keep more then 1 ETH on your wallet to get tokens. 