section#how.row.column.how
    .how_inner
        h2 How it Works
        p.how_descr
            | Stripe is the best software platform for running an internet business.
            br
            | We handle billions of dollars every year for forward-thinking
            br
            | businesses around the world.
        .row.how_steps
            .column.how_step
                .how_step_img
                    img(src="./img/how/1.jpg", alt="01")
                p.how_step_descr 
                    | Sign up on the website and insert your
                    br
                    | ERC-20 compatible ETH wallet address.
                    br
                    | %link Check compatible wallets 
            .column.how_step
                .how_step_img
                    img(src="./img/how/2.jpg", alt="02")
                p.how_step_descr
                    | We negotiate with TOP ICO projects and
                    br
                    | ask them to send portion of their tokens to
                    br
                    | our community for FREE
            .column.how_step
                .how_step_img
                    img(src="./img/how/3.jpg", alt="03")
                p.how_step_descr
                    | Keep more then 1 ETH on your ETH
                    br
                    | wallet and get
                    | 
                    b FREE
                    | 
                    | tokens during super
                    br
                    | exclusive airdrops from TOP ICO projects.