section#media.media
    .row.column.media_inner
        h2 What Media Say
        //- p.media_descr
    .row.media_items
        .column.large-3.medium-6.small-12.media_item
            .media_item_img
                a(href="#")
                    img(src="./img/media/1.jpg", alt="")
            .media_item_date 01.12.2017
            h3.media_item_title
                a(href="#") Not Another Augmented Reality How-To
            p.media_item_brief
                | Stripe is the best software platform for running an internet business. We handle billions of dollars every year for forward
            a.media_item_source(href="#") Medium
        .column.large-3.medium-6.small-12.media_item
            .media_item_img
                a(href="#")
                    img(src="./img/media/2.jpg", alt="")
            .media_item_date 01.12.2017
            h3.media_item_title
                a(href="#") Not Another Augmented Reality How-To
            p.media_item_brief
                | Stripe is the best software platform for running an internet business. We handle billions of dollars every year for forward
            a.media_item_source(href="#") Medium
        .column.large-3.medium-6.small-12.media_item
            .media_item_img
                a(href="#")
                    img(src="./img/media/3.jpg", alt="")
            .media_item_date 01.12.2017
            h3.media_item_title
                a(href="#") Not Another Augmented Reality How-To
            p.media_item_brief
                | Stripe is the best software platform for running an internet business. We handle billions of dollars every year for forward
            a.media_item_source(href="#") Medium
        .column.large-3.medium-6.small-12.media_item
            .media_item_img
                a(href="#")
                    img(src="./img/media/4.jpg", alt="")
            .media_item_date 01.12.2017
            h3.media_item_title
                a(href="#") Not Another Augmented Reality How-To
            p.media_item_brief
                | Stripe is the best software platform for running an internet business. We handle billions of dollars every year for forward
            a.media_item_source(href="#") Medium