mixin menu(mod)
    ul.menu(data-smooth-scroll class=mod)
        li
            a(href="#promo") Start
        li
            a(href="#how") How It Works
        li
            a(href="#customers") Partner
        li
            a(href="#media") News