section#promo.promo
    .row.align-middle.promo_inner
        .column.large-offset-1
            h1
                | Get Exclusive Airdrops
                | 
                br
                | 
                | from Top ICO
                | 
                br
                | 
                | projects
            p.promo_descr
                | TokenBoom is private club of ICO investors.
                | 
                br
                | 
                | Leave us your details and get tokens from TOP ICO project for free.
                | 
                br
                | 
                | Just keep more then 1 ETH on your wallet.
            +form('head')
        a.scroll(href="#how" data-smooth-scroll)
