html, body{
    -webkit-overflow-scrolling: touch;
    letter-spacing: 0.9px;
}

.wrap {
    overflow: hidden;
    min-width: 320px;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    outline: none;
}

a{
    transition: 300ms
}

h1{
    letter-spacing: 3px;
    line-height: 1.5;
}

h2{
    letter-spacing: 3px;
}