.reveal {
    outline: none;
    height: 100%;
    @include breakpoint(medium down) {
        min-width: 530px;
    }
    @include breakpoint(small down) {
        min-width: 100%;
    }
    &.small{
        margin-right: 0;
    }
    &_inner{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &_content{
        padding: 55px 94px;
        @include breakpoint(large down) {
            padding: 55px 65px;
        }
        @include breakpoint(small down) {
            padding: 30px 40px;
        }
    }
    &_header{
        line-height: 1.2;
    }
    &_descr{
        font-size: 14px;
        font-weight: 300;
        @include breakpoint(small down) {
            font-size: 12px;
            br{
                display: none;
            }
        }
    }
    &_footer{
        min-height: 150px;
        padding: 0 94px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $light-gray;
        font-size: 14px;
        letter-spacing: 1.4px;
        @include breakpoint(large down) {
            padding: 0 65px;
        }
        @include breakpoint(small down) {
            padding: 0 40px;
            font-size: 12px;
            min-height: 90px;
            letter-spacing: 1px;
        }
    }
    &_note{
        font-size: 12px;
        letter-spacing: 0.6px;
        margin-bottom: 30px;
        @include breakpoint(small down) {
            margin-bottom: 10px;
        }
    }

    &_join{
        &_steps{
            margin: 0;
            list-style: none;
            display: flex;
            overflow: hidden;
            counter-reset: join;
            margin-bottom: 90px;
            @include breakpoint(small down) {
                margin-bottom: 60px;
            }
        }
        &_step{
            position: relative;
            width: 45px;
            height: 45px;
            border: 2px solid $primary-color;
            border-radius: 50%;
            counter-increment: join;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            &.is_active{
                background-color: $primary-color;
                color: $white;
            }
            &::before {
                content: '0' counter(join);
                font-weight: 500;
            }
            +li{
                margin-left: 80px;
                @include breakpoint(small down) {
                    margin-left: 30px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: calc(100% + 20px);
                    width: 44px;
                    border-top: 2px solid $primary-color;
                    @include breakpoint(small down) {
                        width: 22px;
                        right: calc(100% + 6px);
                    }
                }
            }
        }
    }
}

.close-button {
    transition: 300ms;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    @include breakpoint(small down) {
        &:not(.small){
            top: 46px;
            right: 40px;
        }
    }
    span {
        line-height: 0.3;
        display: block;
        overflow: hidden;
        padding-bottom: 30%;
        font-weight: 300;
    }
}