.promo{
    background-image: url(../img/promo.png), 
                      linear-gradient(-30deg, #6915c2 0%, #390393 47%, #071152 100%);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    color: $white;
    margin-bottom: 56px;
    padding: 0 30px;
    @include breakpoint(large down) {
        margin-bottom: 50px;
    }
    @include breakpoint(medium down) {
        margin-bottom: 80px;
    }
    @include breakpoint(small down) {
        margin: 0;
        br {
            display: none;
        }
    }
    &_inner{
        position: relative;
        height: 100vh;
        min-height: 480px;
        padding-bottom: 5%;
        @include breakpoint(medium down) {
            padding-top: 80px;
        }
        @include breakpoint(small down) {
            // align-items: flex-end;
        }
        @media screen and #{breakpoint(small down)} and (orientation: portrait){
            padding: 0;
            align-items: center;
        }
    }
    &_descr{
        font-size: 17px;
        color: rgba(#ded1ff, 0.74);
        @include breakpoint(small down) {
            font-size: 14px;
        }
    }
}

.scroll{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba($primary-color, .2);
    background-image: url(../img/scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px auto;
    position: absolute;
    left: 15px;
    bottom: 54px;
    outline: none;
    color: $white;
    cursor: pointer;
    transition: 300ms;
    @include breakpoint(medium down) {
        bottom: 30px;
    }
    @media screen and #{breakpoint(medium down)} and (orientation: landscape) {
        display: none;
    }
    @include breakpoint(small down) {
        width: 40px;
        height: 40px;
        left: 10px;
        background-size: 10px;
    }
    &:hover{
        background-color: rgba($primary-color, .4);
    }
    &::before{
        content: 'Scroll';
        position: absolute;
        transform: rotate(-90deg);
        opacity: 0.2;
        left: 3px;
        bottom: calc(100% + 24px);
        @include breakpoint(small down) {
            display: none;
        }
    }
}